* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --main-color: rgb(7,7,55);
}

body{
    display: block;
    justify-content: center;
}

.container {
   display: inline-block;
   width: 200vh;
   height: 30vh;
   text-align: center;
   justify-content: center;
   padding: 30px;
   background-color: #232323;
}

.container h1 {
    justify-content: center;
    text-align: center;
    color: var(--main-color);
}

.container input {
    padding: 5px;
    width: 30vh;
    border: none;
    outline: none;      
}

.container .Save {
   background-color: green;
   cursor: pointer;
   border: 2px solid var(--main-color);
}

.wrapper {
    display: inline-block;
    width: 210vh;
    height: 20px;
    padding: 40px;
    border: 10px;
}

.wrapper input{
    padding: 20px;
    width: 25vh;
    border: none;
    outline: none;
}

.wrapper input[type="checkbox"]{
    width: 20px;
    margin: 15px;
}

.wrapper label {
    width: 30px;
    text-transform: capitalize;
    margin-left: 50px;
}

.wrapper .remove {
    border: 2px solid #fff;
    background-color: red;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    margin-left: 1150px;
}