* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --main-color: rgb(7,7,55);
}

body{
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
   width: 300vh;
   height: 30vh;
   align-items: center;
   justify-content: center;
   padding: 10px;
   background-color: #232323;
}

.container h1 {
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

input {
    padding: 5px;

}